.header-block {
  align-items: center;
  cursor: default;
  display: flex;
  flex-direction: row;
  height: 100%;
}

.default-overview-icon {
  fill: var(--darkblue);
  width: 16px;
  height: 16px;
}

.default-badge-icon {
  fill: var(--darkblue);
  width: 16px;
  height: 16px;
  background: var(--background-grey);
  border-radius: 10px;
}

.big-overview-icon {
  fill: var(--darkblue);
  width: 64px;
  height: 64px;
}

#loading-header {
  position: relative;
  background-color: #ccc;
  /* height: 6px; */
  animation-name: animate;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(8%, #eeeeee),
    color-stop(18%, #dddddd),
    color-stop(33%, #eeeeee)
  );
  background: -webkit-linear-gradient(
    left,
    #eeeeee 8%,
    #dddddd 18%,
    #eeeeee 33%
  );
  background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
  background-size: 800px 104px;
  -webkit-background-size: 800px 104px;
}
#loading-header {
  height: 100%;
  width: 70px;
  border: 1px solid;
  border-color: #e5e6e9;
  border-radius: 3px;
}
@keyframes animate {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}
